@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;400;600&display=swap');


.font-fam{
  font-family: 'Fira Sans', sans-serif;
}
.font-size-xs{
  font-size: 1rem;
}

.font-size-s{
  font-size: 1.2rem;
}

.font-size-md{
  font-size: 1.6rem;
}

.font-size-lg{
  font-size: 3rem;
}

.font-weight-300{
 font-weight: 300;
}

.font-weight-600{
font-weight: 600;
}

.font-prof{
color: #886cff;
}

.font-sem{
  color: #00b1db;
}
  