

body{
  margin: 0;
}

.headline{
  margin-left: 10vw;
  margin-top: 5%;
  margin-block-end: 0em;
}

.headline-sem{
  color: #00b1db;
}

.headline-prof{
  color: #886cff;
  margin-block-start: 0em;
}