@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;400;600&display=swap');

body{
  margin: 0;
}

.modul-view{
 width:80vw;

 margin-left:10vw;
}

.modul{
  border: 1px solid #00b1db;
  background-color: #f2f2f2;
  color: #666666;
  width: 80vw; 
  height: 7vh;
  margin-top: 2vh;
  border-radius: 3vw;
  text-align: center;
  font-family: 'Fira Sans', sans-serif;
  font-size: 3rem;
  font-weight: 600;
  box-shadow: 10px 9px 16px 1px rgba(0,0,0,0.16);
 
}