*{
  box-sizing: border-box;
}

body{
  margin: 0;
}

.nav-bottom{
  position: fixed;
  color: #f2f2f2;
  bottom: 0;
  width: 100%;
 
}

.item-pos{
  display: inline-block;
  width: 49.5%;
  text-align: center;
  height: 100%;
  padding: 15px;
}

.item-sem{
  background-color: #00b1db;
}

.item-prof{
  background-color: #886cff;
}