

body{
  margin: 0;
}

.return-Btn{
  width: 80%;
  max-width: 500px;
  margin-top: 5%;
  margin-left: 10%;
  margin-bottom: 15%;
  padding: 15px;
}

.return-Btn-style {
  border-radius: 7px;
  border: none;
  text-align: center;
  color: #f2f2f2;
  box-shadow: 10px 9px 16px 1px rgba(0,0,0,0.16);
}

.return-Btn-sem{
  background-color: #00b1db;
}

.return-Btn-prof{
  background-color: #886cff;
}

