@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;400;600&display=swap');

body{
  margin: 0;
}

h4 {
  font-family: 'Fira Sans', sans-serif;
  font-size: 3rem;
  font-weight: 600;
  color: #666666;
  margin-block-start: 0.5em;
    margin-block-end: 0.5em;
}

p {
  font-family: 'Fira Sans', sans-serif;
  font-size: 2rem;
  font-weight: 300;
  color: #666666;
  margin-block-start: 0em;
  margin-block-end: 0em;
}

.div--style{
  border: 1px solid #00b1db;
  background-color: #f2f2f2;
  margin-top: 3vh;
  border-radius: 7%;
  box-shadow: 10px 9px 16px 1px rgba(0,0,0,0.16);
  width: 80vw;
  margin-left:10vw;
  padding-left: 5%;
  padding-bottom: 5%;
}